<span [hidden]=!isLoading>Loading...</span>
<table class='table table-hover'>
  <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Town</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let person of people | async">
          <th scope=row>
            {{person.id}}
          </th> 
          <td>
            {{person.name}}
          </td>
          <td>
            {{person.phone | number}}
          </td>
          <td>
            {{person.town}}
          </td>
          <td>
            {{contact.group}}
          </td>
          <td class='col-md-1'>
              <a routerLink="/detail/{{person.id}}" class="col-md-6 settingBtn settingTitle">Edit</a>
              <span (click)="onRemoveSelect(person)" class="col-md-6 close"></span>
          </td>
        </tr>
  </tbody>
</table>
