
<div class='col-md-9'>
  <div class="form-inline">
      <div class="form-group col-md-4">
        <label>Name:
          <input *ngIf="person" class="form-control" [(ngModel)] = person.name  placeholder = "name" type = "text">
          <input *ngIf="person == null" class="form-control" [(ngModel)]="name" placeholder = "name" type = "text">
        </label>
      </div>
      <div class="form-group col-md-4">
          <label>Number:
            <input *ngIf="person" class="form-control"  [(ngModel)] = person.number placeholder = "number" type = "text">
            <input *ngIf="person == null" class="form-control"  [(ngModel)]="number" placeholder = "number" type = "text">
          </label>
      </div>
      <div class="form-group col-md-4">
          <label>Town:
            <input *ngIf="person" class="form-control"  [(ngModel)] = person.town placeholder = "town" type = "text">
            <input *ngIf="person == null" class="form-control"  [(ngModel)]="town" placeholder = "town" type = "text">
          </label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="col-md-12 settingTitle">Settings fields</div>
      <div>
          <a (click)="onAddNewPerson(name, number, town)" class="col-md-3 settingBtn">Add</a>
          <a (click)="onNoSelect()" class="col-md-4 settingBtn">Clear</a>
      </div>
    </div>  

  