  <span [hidden]=!isLoading>Loading...</span>
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Name</th>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups | async">
        <th scope=row>{{group.id}}</th>
        <td>
          {{group.name}}
        </td>
        <td class='col-md-1'>
          <a routerLink="{{group.id}}" class="col-md-6 settingBtn settingTitle">Edit</a>
          <span (click)="onRemoveGroup(group)" class="col-md-6 close"></span>
        </td>
      </tr>
    </tbody>
  </table>
  