<<<<<<< HEAD
.notFound {
    font-size: 100px;
    font-weight: bold;
    color: red;
    text-align: center;
=======
.notFound {
    font-size: 100px;
    font-weight: bold;
    color: red;
    text-align: center;
>>>>>>> 7174be6740652492cd0ea74f4ebe68e77107730f
}