
<div class='col-md-9'>
  <div class="form-inline">
      <div class="form-group col-md-4">
        <label>Name:
          <input class="form-control inData" [(ngModel)] = person.name  placeholder = "name" type = "text">
        </label>
      </div>
      <div class="form-group col-md-4">
          <label>Number:
            <input class="form-control"  [(ngModel)] = person.number placeholder = "number" type = "text">
          </label>
      </div>
      <div class="form-group col-md-4">
          <label>Town:
            <input class="form-control"  [(ngModel)] = person.town placeholder = "town" type = "text">
          </label>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="col-md-12 settingTitle">Settings fields</div>
      <div>
          <a href="javascript:void(0)" (click)="goBack()" class="col-md-3 settingBtn">Back</a>
          <a *ngIf="person.id == null" routerLink="/" (click)="onAddNewPerson(person.name, person.number, person.town)" class="col-md-3 settingBtn">Add</a>
          <a *ngIf="person.id != null" routerLink="/" (click)="onRemoveSelect(person)" class="col-md-3 settingBtn">Delete</a>
          <a (click)="onNoSelect()" class="col-md-3 settingBtn">Clear</a>
      </div>
    </div>  

  