<app-person-detail [person] = selectedPerson></app-person-detail>

<table class='table'>
  <tr *ngFor = "let person of people, let peopleIndex = index" [class.active] = "person === selectedPerson"> 
    <td (click)="onSelect(person)">
      {{person.name}}
    </td>
    <td (click)="onSelect(person)">
      {{person.number}}
    </td>
    <td (click)="onSelect(person)">
      {{person.town}}
    </td>
    <span (click)="onRemoveSelect(peopleIndex)" class="col-md-2 close"></span>
  </tr>
</table>
